{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/detail.css">
</head>
<body>
    <div class="container">
        <div class="parent">
            <div class="first">
                <h1>{{content.channel_name}}</h1>
            </div>
            <div class="first">
                <span>크리에이터 이름:</span> 
                <span>{{content.creator_name}}</span>
            </div>
            <div class="first">
                <span>추천별점 :</span>
                    {% if content.popularity == 1 %}
                    <span>&#11088;</span>
                    {% endif %}
                    {% if content.popularity == 2 %}
                    <span>&#11088;&#11088;</span>
                    {% endif %}
                    {% if content.popularity == 3 %}
                    <span>&#11088;&#11088;&#11088;</span>
                    {% endif %}
                    {% if content.popularity == 4 %}
                    <span>&#11088;&#11088;&#11088;&#11088;</span>
                    {% endif %}
                    {% if content.popularity == 5 %}
                        <span>&#11088;&#11088;&#11088;&#11088;&#11088;</span>
                    {% endif %} 
                </p>
            </div>
            <div class="first">
                {% if content.onair == True %}
                <span>Live on!</span>
                {% else %}
                <span>Live off!</span>
                {% endif %}
            </div>
            <div class="first">
                <span>구독자 수: </span> 
                <span>{{content.followers}}</span>
            </div>
        </div>
        <div class="youtube_links">
            <iframe src= "{{content.link1}}" style="width:31%; height:300px"></iframe>
            <iframe src= "{{content.link2}}" style="width:31%; height:300px"></iframe>
            <iframe src= "{{content.link3}}" style="width:31%; height:300px"></iframe>
        </div>
        <div class="description">
            <h2>유투브 요약!</h2>
            <p>"{{content.summary}}"</p>
            <h2>유투브 소개!</h2>
            <p>{{content.text}}</p>
        </div>
    </div>
</body>
</html>