@charset 'utf-8';
@import '_variables';
@import '_mixins';
@import '_button';

h1 {
  color: red;
  @include responsive('iphone') {
    color: yellowgreen;
  }
  @include responsive('ipad') {
    color: purple;
  }
  @include responsive('iphone-l') {
    color: royalblue;
  }
  @include responsive('ipad-l') {
    color: wheat;
  }
}

// a {
//   @extend %button;
//   text-decoration: none;
// }

// button {
//   @extend %button;
//   border: none;
// }

// body > * {
//   all: unset;
// }

// button {
//   @include unset;
//   font-size: $mainFontsize;
//   color: $mainColor;
// }

// a {
//   margin-bottom: 10px;
//   &:nth-child(odd) {
//     @include link('odd');
//   }
//   &:nth-child(even) {
//     @include link('even');
//   }
// }

// .box {
//   margin: 30px;
//   h1 {
//     font-size: 100px;
//   }
//   button {
//     color: green;
//   }
//   &:hover {
//     background-color: red;
//   }
// }
